<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Bank Demo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h3>Cuentas</h3>
<div>
    <table border="1">
        <thead>
        <tr>
            <th th:text="Número"/>
            <th th:text="Saldo"/>
            <th th:text="Tipo_de_cuenta"/>
            <th th:text="Acciones"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accountEntity: ${accounts}">
            <td th:text="${accountEntity.number}"/>
            <td th:text="'$' + ${#numbers.formatDecimal(accountEntity.balance, 0, 'COMMA', 2, 'POINT')}"/>
            <td th:text="${accountEntity.type} == 1 ? 'Ahorros' : 'Corriente'"/>
            <td th:text="Transferir"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
